<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>front</title>
  <link href="/static/css/index.56627c4f1f417bbde4b4dea54ded3379.css" rel="stylesheet"></head>
  <body style="height: 100%;">
    <div id="app"></div>
    <!-- built files will be auto injected -->
  <script type="text/javascript" src="/static/js/manifest.0c1cd46d93b12dcd0191.js"></script><script type="text/javascript" src="/static/js/vendor.6337d573fe24843ef288.js"></script><script type="text/javascript" src="/static/js/index.cf673a3a5667d9149013.js"></script></body>
</html>
