<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>front</title>
  <link href="/static/css/app.3f85199c23d7cfed3cd85f253a50d8f2.css" rel="stylesheet"></head>
  <body style="height: 100%;">
    <div id="app"></div>
    <!-- built files will be auto injected -->
  <script type="text/javascript" src="/static/js/manifest.e6b287e8df45b19ee202.js"></script><script type="text/javascript" src="/static/js/vendor.e282bbb27edddee9bf92.js"></script><script type="text/javascript" src="/static/js/app.1939f283456948465887.js"></script></body>
</html>
