<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>医院挂号系统登录</title>
<link href="/static/css/signIn.e8fe0c4ecc4f59d32e52c0beb23849c6.css" rel="stylesheet"></head>
<body>
    <body style="height: 100%;background-image:url(/static/img/15198885405a97a89c57e74.jpg)">
        <div id="signIn"></div>
        <!-- built files will be auto injected -->
    <script type="text/javascript" src="/static/js/manifest.0c1cd46d93b12dcd0191.js"></script><script type="text/javascript" src="/static/js/vendor.6337d573fe24843ef288.js"></script><script type="text/javascript" src="/static/js/signIn.efa999f9cdf6a3aa328a.js"></script></body>
</body>
</html>