<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>医院挂号系统登录</title>
<link href="/static/css/signin.deaa27774740ea8563c5c2e547538c56.css" rel="stylesheet"></head>
<body>
    <body style="height: 100%;background-image:url(/static/img/15198885405a97a89c57e74.jpg)">
        <div id="signIn"></div>
        <!-- built files will be auto injected -->
    <script type="text/javascript" src="/static/js/manifest.896a1bcb915951140900.js"></script><script type="text/javascript" src="/static/js/vendor.e282bbb27edddee9bf92.js"></script><script type="text/javascript" src="/static/js/signin.e61c1cf524e340ac5ae6.js"></script></body>
</body>
</html>